PORT=5001
MONGODB_URI=your_mongodb_connection_string
SESSION_SECRET=your_session_secret

# Local development
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

# Production
# CLIENT_URL=https://www.onehopeconnections.site
# ADMIN_URL=https://admin-gno-gurtej.onrender.com
# ALLOWED_ORIGINS=https://www.onehopeconnections.site,https://onehopeconnections.site
# NODE_ENV=production

NODE_ENV=development
